/*A lot of this css came from the example provided and from the other team members css pages*/


body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(burgerbackground.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    
  } 
  
  h1 strong{
    font-size: 72px;
  }
  
  p{
     text-align: left;
     margin-left: 15px;
     font-size: 20px;
  }
  header, footer {
    border-radius: 10px;
    background: rgba(60, 60, 54, 0.70);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding-top: 10px;
    font-style: italic;
    color: blue;
  }
  nav {
    text-align: center;
    background: rgba(60, 60, 54, 0.90);
    line-height: 50px;
    word-spacing: 100px; 
    font-size: 20px;
  }
  nav a{
    color: yellow;
  }
 
  nav a:hover{
        color: white;
  }
  #Specialty{
    border-radius: 10px;
    float: left;
    width: 45%;
    color: black;
    margin-left: 2%;
  }
  #Specialty2{
    border-radius: 10px;
    float: right;
    width: 45%;
    color: black;
    margin-right: 2%;
  }

  nav li {
    display: inline-flex;
    font-size: 36px;
  }
  div{
    background: rgba(255, 255, 255, 0.566);
    font-size: 40px;
    float: center;
    border-radius: 25px;
  }
  p{
    font-size: 30px;
  }
  h3{
    font-size: 77px;
  }
  #Drinks{
  border-radius: 10px;
  float: inherit;
  width: 48%;
  margin-right: 2%;
  text-align: center;
  height: min-content;
  background: rgba(255, 255, 255, 0.566);
    font-size: 40px;
    float: right;
    border-radius: 25px;
  }
  #chips{
    border-radius: 10px;
    float: left;
    width: 48%;
    color: black;
    margin-left: 2%;
    height: min-content;
    background: rgba(255, 255, 255, 0.566);
    font-size: 40px;
    float: left;
    border-radius: 25px;

  }
  button{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid yellow;
    background: transparent;
    color: white;
    cursor: pointer;
}
mySlides fade{
  float: right;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ff0000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
